@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap");

body {
 background-image: url(OldDrawing.jpg);
 color: aquamarine;
 font-family: "Bitcount Single", system-ui;
 font-style: normal;
 background-size: auto;
 gap: 20px;
}

h1 {
 text-align: center;
 position: relative;
   font-style: italic;
}

a {
 color: palevioletred;
 position: relative;
 font-size: 30px;
}
