@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

body {
  background-image: url(mainBG.jpg);
  color: aquamarine;
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  
}

a {
  color: palevioletred;
}