@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

body {
  background-image: url(mainBG.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  color: aquamarine;
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  
}

a {
  color: palevioletred;
  position: relative;
  font-size: 100;
}

div.bgImg{
  position: fixed;
  z-index: -2;
  opacity: 30%;
  fill: blue;
}

