@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');


body{
    background-image: url("./38275.jpg");
}

div.title{
  align-items: center; 
  justify-content: center;
  margin-left : 40px;
}

div.column{
  display: flex;
}

div.row{
  flex: 50%;
}

h1 {
  color: aquamarine;
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

h2 {
  color: aquamarine; 
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  align-content: center;
}

p {
  color: cadetblue;
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;  
}
