@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

body {
    align-content: center;
  background-image: url(lotus_text.png);
  color: aquamarine;
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  background-size: cover;
   display: flex;
    justify-content: center; 
    align-items: center;    
  
}

a {
  color: palevioletred;
  position: relative;
  font-size: 100;
}

div.bgImg{
  position: fixed;
  z-index: -2;
  opacity: 30%;
  fill: blue;
}