@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

body {
   align-content: center;
  background-image: url(lotus_text.png);
  color: aquamarine;
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  background-size: auto;
   display: flex;
  gap: 20px;
    justify-content: center; 
    align-items: center;    
  
}

a {
  color: palevioletred;
  position: relative;
  font-size: 100;
}

div.bgImg{
  position: fixed;
  z-index: -2;
  opacity: 30%;
  fill: blue;
}

div.boarder{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -10;
}

/*div.column{*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: flex-start;*/
  /*gap: 30px;*/
  /*padding: 40px;   */
  /*display: flex;*/
  /*top: 50px;*/
/*}*/
